@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-image {
    background-image: url("https://eduport.webestica.com/assets/images/pattern/05.png");
    background-color: theme(backgroundColor[slate].800);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bg-image-pattern {
    background-image: url("https://eduport.webestica.com/assets/images/pattern/01.png");
    background-color: theme(backgroundColor[emerald].500);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
